{% extends 'base.html.twig' %}

{% block body %}
    <h1>Formation list</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Url</th>
                <th>Annee</th>
                <th>Niveau</th>
                <th>Typediplome</th>
                <th>Effectif</th>
                <th>Lien2</th>
                <th>Lien3</th>
                <th>Responsable</th>
                <th>Formationid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td><a href="{{ path('formation_show', { 'id': formation.formationId }) }}">{{ formation.nom }}</a></td>
                <td>{{ formation.description }}</td>
                <td>{{ formation.url }}</td>
                <td>{{ formation.annee }}</td>
                <td>{{ formation.niveau }}</td>
                <td>{{ formation.typediplome }}</td>
                <td>{{ formation.effectif }}</td>
                <td>{{ formation.lien2 }}</td>
                <td>{{ formation.lien3 }}</td>
                <td>{{ formation.responsable }}</td>
                <td>{{ formation.formationId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('formation_show', { 'id': formation.formationId }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('formation_edit', { 'id': formation.formationId }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('formation_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
