{% extends 'editeur.html.twig' %}


{% block body %}

    <div class="container">
    <h1>Editer une formation</h1>

    {{ form_start(edit_form) }}

        {{ include('EditeurBundle:Formation:_form.html.twig') }}

        <input type="submit" class="btn btn-hesam" value="Edit" formnovalidate />
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
     <button disabled value="Supprimer" class="btn btn-hesam right " >Supprimer</button>
    {{ form_end(delete_form) }}
    <ul>
        <li>
            <a href="{{ path('search') }}">Retour</a>
        </li>

    </ul>


    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function() {

          var $wrapper = $('.js-membre-wrapper');

          $wrapper.on('click', '.js-remove-membre', function(e) {

              e.preventDefault();
              $(this).closest('.js-membre-item').remove();
          });
          $wrapper.on('click', '.js-add-membre', function(e){
              e.preventDefault();

              // Get the data-prototype explained earlier
              var prototype = $wrapper.data('prototype');

              // get the new index
              var index = $wrapper.data('index');

              // Replace '__name__' in the prototype's HTML to
              // instead be a number based on how many items we have
              var newForm = prototype.replace(/__name__/g, index);

              // increase the index with one for the next item
              $wrapper.data('index', index + 1);

              // Display the form in the page in an li, before the "Add a tag" link li
              $(this).before(newForm);
          })
        });
    </script>
{% endblock %}