{% extends 'editeur.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #collecte_etablissement label{
            margin-top: 10px;
            margin-right: 40px;
            font-size: 1.3em;
        }

    </style>
{% endblock %}

{% block body %}

<div class="container">
    <h1>Préparer une nouvelle collecte</h1>

    <br>
    <div class="infos card row">

        <div class="col s12">
        {#<i class="close material-icons right">close</i>#}
        <h3>Quelques infos sur les collectes</h3>

        <p>Préparer une année de collecte permet de sélectionner les établissements qui participeront à la collecte via l'éditeur Visam.</p>
        <p>Il ne peut y avoir qu'une seule collecte active à la fois. Avant de commencer à préparer une autre collecte, il faut clore la précédente si elle est toujours active.</p>
        <p>Une fois la collecte créée, il suffit de se rendre sur la page "Admin" pour l'activer. Attention, une fois activée, une campagne n'est plus modifiable, il n'est plus possible que de la clôturer.</p>
        </div>
    </div>
    <br>
    {{ form_start(edit_form) }}
        {{ include('EditeurBundle:Collecte:_form.html.twig') }}
        <input type="submit" class="btn btn-hesam" value="Créer" formnovalidate />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin') }}">Retour</a>
        </li>
    </ul>
</div>

{% endblock %}
