<div>
    {% if is_granted('ROLE_USER') %}
        <ul id="menu_editeur" class="dropdown-content">

            <li><a href="{{ path("editeur") }}">Espace Editeur</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('editeur_formation_new') }}">Ajout Formation</a></li>
            <li><a href="{{ path('editeur_laboratoire_new') }}">Ajout Laboratoire</a>
            <li><a href="{{ path('editeur_ed_new') }}">Ajout Ecole doctorale</a>
            <li class="divider"></li>
            <li><a href="{{ path('search_previz') }}">Prévisualiser</a></li>

        </ul>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <ul id="menu_admin" class="dropdown-content">

            <li><a href="{{ path("admin") }}">Espace Admin</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('editeur_etablisement_new') }}">Ajout Etablissement</a></li>
            <li><a href="{{ path('editeur_thesaurus_new') }}">Ajout Thesaurus</a></li>
            <li><a href="#">Ajout Localisation</a></li>
            <li><a href="/carto/register">Ajout Contributeur</a></li>
            {#<li><a href="{{ path('editeur_valorisation_new') }}">Valorisation</a></li>#}
            {#<li><a href="">Equipement</a></li>#}

        </ul>
    {% endif %}

    <!-- Pour mobile -->

    <ul id="mobile-demo" class="side-nav">

        {% if is_granted('ROLE_USER') %}

                <h2>Editeur</h2>
                <li><a href="{{ path("editeur") }}">Espace Editeur</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('editeur_formation_new') }}">Ajout Formation</a></li>
                <li><a href="{{ path('editeur_laboratoire_new') }}">Ajout Laboratoire</a>
                <li><a href="{{ path('editeur_ed_new') }}">Ajout Ecole doctorale</a>
                <li class="divider"></li>
                <li><a href="{{ path('search_previz') }}">Prévisualiser</a></li>

        {% endif %}

        {% if is_granted('ROLE_USER') %}
                <h2>Admin</h2>
                <li class="divider"></li>
                <li><a href="{{ path("editeur") }}">Espace Editeur</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('editeur_formation_new') }}">Ajout Formation</a></li>
                <li><a href="{{ path('editeur_laboratoire_new') }}">Ajout Laboratoire</a>
                <li><a href="{{ path('editeur_ed_new') }}">Ajout Ecole doctorale</a>
                <li class="divider"></li>
                <li><a href="{{ path('search_previz') }}">Prévisualiser</a></li>
        {% endif %}

    </ul>

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper red-hesam">
                <a href="{{ path('homepage') }}" class="brand-logo">heSam</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{ path('search') }}">Rechercher</a></li>
                    <li><a href="{{ path("statistiques") }}">Statistiques</a></li>
                    <li><a href="{{ path("apropos") }}">A propos</a></li>
                    <li><a href="{{ path("aide") }}">Mode d'emploi</a></li>


                    {% if is_granted('ROLE_USER') %}
                    <li><a class="dropdown-button" href="#!" data-activates="menu_editeur">Editeur carto heSam<i class="material-icons right">arrow_drop_down</i></a></li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a class="dropdown-button" href="#!" data-activates="menu_admin">Administration<i class="material-icons right">arrow_drop_down</i></a></li>
                    {% endif %}

                    {% if is_granted('ROLE_USER') %}
                        <li>connecté : {{ app.user.username }}</li>
                        <li><a href="{{ path('fos_user_security_logout') }}">logout</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">connexion</a></li>
                    {% endif %}

                </ul>
            </div>
        </nav>


    </div>
</div>