{% extends 'base.html.twig' %}

{% block fos_user_content %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {% else %}
    <style>
        .modifier{
            display:none;
        }
        .else a{
            /*text-decoration : underline;*/
            color : #EF4023;
        }
    </style>
    {% endif %}
{% endblock %}


{% block body %}

    {% if is_granted('ROLE_USER') %}
    <div class="container large">

        <h3 class = "center red-text text-darken-1"> [ Prévisualisation de la collecte en cours ]</h3>

        <div class="row">
        <div class="col s3 m3">
        <div style="text-align:center;">
        <a href="{{ path('homepage') }}"><img src="img/hesam.jpg" class="responsive-img logo-hesam-small" alt="Logo HESAM Université"></a>
        </div>

        <ul id="facets" class="collapsible"></ul>
        </div>

        <section class="col s9 m9">

        <div class="input-field">
        <i class="material-icons prefix icon-search">search</i>
        <input type="text" id="search-input" placeholder="Recherche...">
        </div>

        <div id="order">
          <div id="loader">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-red-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <p>Chargement...</p>
          </div>
        </div>


        <div id="results"></div>
        </section>
        </div>

    </div>


    {% else %}
        <div class="container else">
            <br><br>
            <article class="card row center">
                <div class="s12 col">
                <h1>Accès réservé</h1>
                <p>Cette page n'est pas accessible aux utilisateurs non enregistrés. Vous pouvez vous <a href="{{ path('fos_user_security_login') }}">connecter ici</a>.</p>
                    <br><br>
                </div>
            </article>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!--     <script src="../bower_components/recherche/jquery-1.6.2.js"></script>
     -->
    <script src="{{ asset('bower_components/recherche/underscore-1.1.7.js') }}"></script>
    <script src="{{ asset('bower_components/recherche/jquery.highlight.js') }}"></script>
    <script src="{{ asset('bower_components/recherche/facetedsearch.js') }}"></script>
    <script src="{{ asset('bower_components/recherche/data-new.js') }}"></script>
    <script src="{{ asset('bower_components/recherche/facette_previz.js') }}"></script>
{% endblock  %}