{% extends 'base.html.twig' %}

{% block fos_user_content %}{% endblock %}
{% block stylesheets %}
{% endblock %}


{% block body %}
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center" style="color:white;">Visualisation des compétences d'heSam Université</h1>
        <div class="row center">
          <h5 class="header col s12 light" style="color:white;"></h5> 
        </div>
        <div class="row center">
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="img/louvres.jpg" alt="Unsplashed background img 1"></div>
  </div>

<div class='container'>

  <br>
    <div class="row">
        <div class="col s12 m4">
          <div class="card teal">
                <a href="#formations" class="modal-trigger">
                    <div class="card-content white-text center-align">
                    <i class="large material-icons">view_module</i>
                    <p class="center-align number">1400</p>
                    <p class="center-align number-label">
                        Formations
                    </p>
                    </div>
                </a>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card cyan">
                <a href="#laboratoires" class="modal-trigger">
                    <div class="card-content white-text center-align">
                    <i class="large material-icons">view_module</i>
                    <p class="center-align number">85</p>
                    <p class="center-align number-label">
                        Laboratoires
                    </p>
                    </div>
                </a>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card amber accent-2">
                <a href="#ecoles" class="modal-trigger">
                    <div class="card-content white-text center-align">
                    <i class="large material-icons">view_module</i>
                    <p class="center-align number">14</p>
                    <p class="center-align number-label">
                        Ecoles doctorales
                    </p>
                    </div>
                </a>
          </div>
        </div>
    </div>

    <div class='row'>

      <article class="col s6 m10">
        <input type="text" placeholder="Chercher parmi les laboratoires, formations et écoles doctorales HESAM">
      </article>

      <article class="col s6 m2">
      <a class="waves-effect waves-light btn red">Rechercher</a>
      </article>
    </div>

  </div>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center" style="color:white;">HESAM Université</h1>
        <div class="row center">
                  <h5 class="header col s12 light" style="color:white;">Visam comprend {{etabs|length}} entités</h5>
        </div>
        <div class="row center">
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="img/pantheon.jpg" alt="Unsplashed background img 1"></div>
  </div>

    <div class='container'>


<!-- Général -->
  
  <article>
  <p>Visam compte, selon les données entrées dans la base de données <strong>{{eds|length}}</strong> ED, <strong>{{formations|length}}</strong> formations et <strong>{{labos|length}}</strong> laboratoires  répartis sur <strong>{{etabs|length}}</strong> entités.</p>
  </article>

<!-- Effectifs -->
       <article> 
            <h2>Les effectifs</h2>
            <p>Selon les données entrées dans la base de données ViSam, HeSam compte :
                <ul>
                    <li><span class="number">{{nbEtud}}</span> étudiants</li>
                  {#   <li><span class="number">{{nbEtud}}</span> enseignants et chercheurs (en cours de correction)</li> #}
                </ul></p>
        </article>

        <article>
            <h2>Répartition des étudiants par établissement</h2>
           
{#             <div id="piechart"></div> #}

            <div id="etud-stat">
              <svg style="height:500px;"></svg>
            </div>
        </article>

        <article>
            <h2>Répartition des chercheurs par établissement</h2>
            <div id="chercheur-stat">
              <svg style="height:500px;"></svg>
            </div>
        </article>



        

<!-- Les disciplines HESAM -->


        {# <article>
          <h2>Les disciplines</h2>

                   
          
            <div class="row">

            <div class='col s8'>
              <h3>Les disciplines les plus fréquentes</h3>
              <p>Les disciplines les plus populaires pour l'ensemble des formations et laboratoires (pas encore implémenté) de la COMUE et pour tous types de disciplines (CNU, HCERES, SISE et NW3)</p> 
              <table class="striped">
              {% for discipline in allDisciplines %}
                    <tr><td>{{discipline.item.type}}</td><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
              {% endfor %}
              </table>
            </div>

            <div class="col s4">
              <h3>Thématiques NW3 les plus fréquentes</h3>
              <table class="striped">
              {% for discipline in allNw3Disciplines %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
              {% endfor %}
              </table>

              <p>Les données NW3 n'étaient pas obligatoires lors de la collecte, certaines formations ou laboratoires peuvent avoir choisi de ne pas y avoir recourt.</p>
            </div>
          </div>
          

          <div class="row">
            <div class="col s4">
            <h3>Disciplines CNU les plus fréquentes</h3>
            <table class="striped">
            {% for discipline in allCnuDisciplines %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
            {% endfor %}
            </table>
            </div>

            <div class="col s4">
            <h3>Disciplines HCERES les plus fréquentes</h3>
            <table class="striped">
            {% for discipline in allHceresDisciplines %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
            {% endfor %}
            </table>
            </div>

            <div class="col s4">
            <h3>Disciplines SISE les plus fréquentes</h3>
            <table class="striped">
            {% for discipline in allSiseDisciplines %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
            {% endfor %}
            </table>
            </div>
          </div>

         
        </article> #}

{# 
        <article>
          <h2>Les domaines?</h2>
          <h3>Répartition par domaine HCERES</h3>
          <h3>Répartition par domaine SISE</h3>
        </article> #}

        

</div>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center" style="color:white;">Formations</h1>
        <div class="row center">
          <h5 class="header col s12 light" style="color:white;">La base contient actuellement {{formations|length}} formations.</h5>
 </div>
        <div class="row center">
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="img/sorbonne.jpg" alt="Unsplashed background img 1"></div>
  </div>

<div class="container">

        <article>
            <h2>Répartition des formations par niveau</h2>
            <!--  -->
            <div id="formation-niveau"><svg style="height:400px;"></svg></div>
        </article>

        <article>
            <h2>Répartition des formations par établissements</h2>
            <div id="forma-etab">
              <svg style="height:500px;"></svg>
            </div>

        </article>

        <article>
          <h2>Formations & Disciplines</h2>

          <article>
            <h2>Répartition des formations par thématiques NW3</h2>
            <div id="form-nw3">
              <svg style="height:500px;"></svg>
            </div>
          </article>
          
{#         <article>
            <h2>Les disciplines les plus fréquentes</h2>
            <div id="formationTopDiscipline"><svg style="height:400px;"></svg></div>
        </article> #}
          

          <div class="row">

{#             <div class='col s8'>
              <h3>Les disciplines les plus fréquentes</h3>
              <p>Les disciplines les plus populaires pour l'ensemble des formations de la COMUE et pour tous types de disciplines (CNU, HCERES, SISE et NW3)</p> 
              <table class="striped">
              {% for discipline in allDisciplinesFormations %}
                    <tr><td>{{discipline.item.type}}</td><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
              {% endfor %}
              </table>
            </div> #}
{# 
            <div class="col s4">
              <h3>Thématiques NW3 les plus fréquentes</h3>
              <table class="striped">
              {% for discipline in allNw3DisciplinesFormations %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
              {% endfor %}
              </table>

              <p>Les données NW3 n'étaient pas obligatoires lors de la collecte, certaines formations ou laboratoires peuvent avoir choisi de ne pas y avoir recourt.</p>
            </div>
          </div>
          

          <div class="row">
            <div class="col s4">
            <h3>Disciplines CNU les plus fréquentes</h3>
            <table class="striped">
            {% for discipline in allCnuDisciplinesFormations %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
            {% endfor %}
            </table>
            </div>

            <div class="col s4">
            <h3>Disciplines HCERES les plus fréquentes</h3>
            <table class="striped">
            {% for discipline in allHceresDisciplinesFormations %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
            {% endfor %}
            </table>
            </div>

            <div class="col s4">
            <h3>Disciplines SISE les plus fréquentes</h3>
            <table class="striped">
            {% for discipline in allSiseDisciplinesFormations %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
            {% endfor %}
            </table>
            </div>
          </div> #}

          <div class="row">
            <div class="col s12">
                        <h3>Disciplines CNU les plus fréquentes</h3>

              <div id="tagsCNU" class="jqcloud" style="width:100%;height:400px;"></div>
            </div>
            <div class="col s12">
                        <h3>Disciplines HCERES les plus fréquentes</h3>

              <div id="tagsHCERES" class="jqcloud" style="width:100%;height:400px;"></div>
            </div>
            <div class="col s12">
                        <h3>Disciplines SISE les plus fréquentes</h3>

              <div id="tagsSISE" class="jqcloud" style="width:100%;height:400px;"></div>
            </div>            
          </div>

        </article>
    </div>

    <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center" style="color:white;">Laboratoires</h1>
        <div class="row center">
          <h5 class="header col s12 light" style="color:white;">La base contient actuellement {{labos|length}} laboratoires</h5>
 </div>
        <div class="row center">
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="img/labo.jpg" alt="Unsplashed background img 1"></div>
  </div>
    

 <div class="container">


    <div class="row">
        <article>
            <h2>Répartition des laboratoires par établissements</h2>
            <div id="labo-etab">
              <svg style="height:500px;"></svg>
            </div>

        </article>
    </div>

    <div class="row">
      <article>
        <h2>Répartition des laboratoires par thématiques NW3 </h2>
        <div id="labo-nw3">
          <svg style="height:500px;"></svg>
        </div>
      </article>
    </div>


    <div>
      <h2>Répartition des laboratoires par types</h2>
      <div id="labo-type">
          <svg style="height:500px;"></svg>
      </div>
   
    </div>

 {#     <div class="row">

            <div class='col s8'>
              <h3>Les disciplines les plus fréquentes</h3>
              <p>Les disciplines les plus populaires pour l'ensemble des laboratoires de la COMUE et pour tous types de disciplines (CNU, HCERES, SISE et NW3)</p> 
              <table class="striped">
              {% for discipline in allDisciplinesLabos %}
                    <tr><td>{{discipline.item.type}}</td><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
              {% endfor %}
              </table>
            </div>


            <div class="col s4">
              <h3>Thématiques NW3 les plus fréquentes</h3>
              <table class="striped">
              {% for discipline in allNw3DisciplinesLabos %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
              {% endfor %}
              </table>

              <p>Les données NW3 n'étaient pas obligatoires lors de la collecte, certaines formations ou laboratoires peuvent avoir choisi de ne pas y avoir recourt.</p>
            </div>
      </div> #}
          

    {#   <div class="row">
            <div class="col s4">
            <h3>Disciplines CNU les plus fréquentes</h3>
            <table class="striped">
            {% for discipline in allCnuDisciplinesLabos %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
            {% endfor %}
            </table>
            </div>

            <div class="col s4">
            <h3>Disciplines HCERES les plus fréquentes</h3>
            <table class="striped">
            {% for discipline in allHceresDisciplinesLabos %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
            {% endfor %}
            </table>
            </div>

            <div class="col s4">
            <h3>Disciplines SISE les plus fréquentes</h3>
            <table class="striped">
            {% for discipline in allSiseDisciplinesLabos %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
            {% endfor %}
            </table>
            </div>
          </div> #}



  </article>
 </div>   

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center" style="color:white;">Ecoles Doctorales</h1>
        <div class="row center">
          <h5 class="header col s12 light" style="color:white;">La base contient actuellement {{eds|length}} écoles doctorales</h5>
 </div>
        <div class="row center">
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="img/ed.png" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
{#         <article>
        <h2>Les ED d'un établissement</h2>

        <p>Si je fais un focus sur un établissement, par exemple {{etabs[1].nom}}, ses ED sont :
            <ul>
            {% for eds in etabs[1].ed %}
            <li>{{eds.nom}}, {{eds.code}}</li>
            {% endfor %}
            </ul>
        </p>
        </article> #}


        <article>
        <h2>Les ED par établissement</h2>
        <p>J'essaye de faire la même chose pour toutes les écoles doctorales de tous les établissements. D'abord toutes les ED:</p>



        <ul class="collection">
        {% for etab in etabs %}
            <li class="collection-item">{{etab.nom}} ({{etab.ed|length}})
                <ol>
                {% for eds in etab.ed %}
                    <li>{{eds.nom}}</li>
                {% endfor %}
                </ol>
            </li>
        {% endfor %}
        </ul>

    </div>


    <div class="container">
{#       <article>
        <h2>Les localisations</h2>

            {% for localisation in localisations %}
              {{localisation.nom}}{{localisation.lat}}{{localisation.long}}
              {% for etab in localisation.etablissement %}
                {{etab.nom}}
              {% endfor %}
                
            {% endfor %}
      </article>

      <article>
        <h2>Localisations pour la map</h2>
        {% for item in map %}
          {{item.nom}}
          {{item.lat}}
          {{item.long}}
          {{item.adresse}}
        {% endfor %}
      </article>
    </div> #}

{#     <img src="img/map.png" alt=""> #}



  </div>

  <div class="row">
    <div class='overlay'></div>
    <iframe src="http://localhost:8888/2016/visamFront/2016-06-05/map/#/" frameborder="0" class ='col s12' id='map' ></iframe>
  </div>


    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>  
    <script src="{{ asset('js/function.js') }}"></script>

    <!-- Materialize -->
    <script type="text/javascript" src="../bower_components/Materialize/js/parallax.js"></script>


    <!-- D3.JS -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../bower_components/nvd3/build/nv.d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.com/libraries/Chart.js"></script>
    <link rel="stylesheet" href="../bower_components/nvd3/build/nv.d3.css"> 
    <!-- END D3.JS -->
    
    <!-- jqcloud -->
    <script src="../bower_components/jqcloud/dist/jqcloud.min.js"></script>
    <link rel="stylesheet" href="../bower_components/jqcloud/dist/jqcloud.min.css">
    <!-- END jqcloud -->

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <script>
      (function($){
        $(function(){
          $('.parallax').parallax();

            var wordsCNU = [
            {% for discipline in allCnuDisciplinesFormations %}
                 {text:"{{discipline.item.nom}} ({{discipline.nb}})",
                 weight : {{discipline.nb}} },
            {% endfor %}
            ];
            console.log(wordsCNU);
            $('#tagsCNU').jQCloud(wordsCNU, {
                shape: 'rectangular',
                autoResize: true,
                //colors: ["#c62828", "#d32f2f", "#e53935", "#f44336", "#ef5350", "#e57373", "#ef9a9a", "#ffcdd2", "#ffebee"]
            });

            var wordsHCERES = [
            {% for discipline in allHceresDisciplinesFormations %}
                 {text:"{{discipline.item.nom}} ({{discipline.nb}})",
                 weight : {{discipline.nb}} },
            {% endfor %}
            ]
            $('#tagsHCERES').jQCloud(wordsHCERES, {
                shape: 'rectangular',
                autoResize: true,
            });
            
            var wordsHCERES = [
            {% for discipline in allHceresDisciplinesFormations %}
                 {text:"{{discipline.item.nom}} ({{discipline.nb}})",
                 weight : {{discipline.nb}} },
            {% endfor %}
            ]
            $('#tagsHCERES').jQCloud(wordsHCERES, {
                shape: 'rectangular',
                autoResize: true,
            });

            var wordsSISE = [
            {% for discipline in allSiseDisciplinesFormations %}
                 {text:"{{discipline.item.nom}} ({{discipline.nb}})",
                 weight : {{discipline.nb}} },
            {% endfor %}
            ]
            $('#tagsSISE').jQCloud(wordsSISE, {
                shape: 'rectangular',
                autoResize: true,
            });

        }); // end of document ready
      })(jQuery); // end of jQuery name space
    </script>

    <script type="text/javascript">

  
      //Regular pie chart example
      nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .showLabels(true);

          d3.select("#formation-niveau3 svg")
              .datum(formationData())
              .transition().duration(350)
              .call(chart);

        return chart;
      });

      //Donut chart example
      nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .showLabels(true)     //Display pie labels
            .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
            .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
            .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
            .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
            ;
          d3.select("#formation-niveau svg")
              .datum(formationData())
              .transition().duration(350)
              .call(chart);

        return chart;
      });

      //Donut chart example
      nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .showLabels(true)     //Display pie labels
            .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
            .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
            .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
            .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
            ;
          d3.select("#chercheur-stat svg")
              .datum(chercheursData ())
              .transition().duration(350)
              .call(chart);

        return chart;
      });


      //Donut chart example
      nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .showLabels(true)     //Display pie labels
            .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
            .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
            .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
            .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
            ;
          d3.select("#etud-stat svg")
              .datum(etudData ())
              .transition().duration(350)
              .call(chart);

        return chart;
      });

      //Répartition du nombre de formations par établissements
      nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .showLabels(true)     //Display pie labels
            .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
            .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
            .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
            .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
            ;
          d3.select("#forma-etab svg")
              .datum(formaEtabData ())
              .transition().duration(350)
              .call(chart);

        return chart;
      });

      //Répartition du nombre de labo par établissements
      nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .showLabels(true)     //Display pie labels
            .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
            .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
            .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
            .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
            ;
          d3.select("#labo-etab svg")
              .datum(laboEtabData ())
              .transition().duration(350)
              .call(chart);

        return chart;
      });

        //Colonnes pour les disciplines les plus populaires
        nv.addGraph(function() {
        var chart = nv.models.discreteBarChart()
            .x(function(d) { return d.label;})    //Specify the data accessors.
            .y(function(d) { return d.value })
            .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
           // .tooltips(false)        //Don't show tooltips
           // .showValues(true)       //...instead, show the bar value right on top of each bar.
           // .transitionDuration(350)
            ;
        d3.select('#formationTopDiscipline svg')
            .datum(formationTopDisciplineData ())
            .call(chart);
        nv.utils.windowResize(chart.update);
        return chart;
      });


      //Répartition des disciplines NW3 pour les formations
      nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .showLabels(true)     //Display pie labels
            .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
            .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
            .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
            .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
            ;
          d3.select("#form-nw3 svg")
              .datum(allNw3DisciplinesFormationsData ())
              .transition().duration(350)
              .call(chart);
        return chart;
      });


      //Répartition des disciplines NW3 pour les labos
      nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .showLabels(true)     //Display pie labels
            .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
            .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
            .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
            .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
            ;
          d3.select("#labo-nw3 svg")
              .datum(allNw3DisciplinesLabosData ())
              .transition().duration(350)
              .call(chart);

        return chart;
      });

      //Répartition des types (EA, etc.) pour les labos
      nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .showLabels(true)     //Display pie labels
            .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
            .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
            .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
            .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
            ;
          d3.select("#labo-type svg")
              .datum(nbTypeLabosData ())
              .transition().duration(350)
              .call(chart);

        return chart;
      });


      // nv.addGraph(function() {
      //   var chart = nv.models.discreteBarChart()
      //       .x(function(d) { return d.label })    //Specify the data accessors.
      //       .y(function(d) { return d.value })
      //       .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
      //       .tooltips(false)        //Don't show tooltips
      //       .showValues(true)       //...instead, show the bar value right on top of each bar.
      //       .transitionDuration(350)
      //       ;
      //   d3.select('#formation-niveau2 svg')
      //       .datum(formationData())
      //       .call(chart);
      //   nv.utils.windowResize(chart.update);
      //   return chart;
      // });



//Pie chart example data. Note how there is only a single array of key-value pairs.
function formationData() {
  return  [
      {% for nbFormation in nbFormations|sort %}
          {"label" : "{{nbFormation.niveau}}",
          "value" : "{{nbFormation.nb}}"},
      {% endfor %}
    ];
}

function chercheursData() {
  return  [
      {% for etab in etabs|sort %}
          {"label" : "{{etab.nom}}",
          "value" : "{{etab.chercheurs}}"},
      {% endfor %}
    ];
  }

  function etudData() {
  return  [
      {% for etab in etabs|sort %}
          {"label" : "{{etab.nom}}",
          "value" : "{{etab.etudiants}}"},
      {% endfor %}
    ];
  }

  //Nombre de formations par établissements
  function formaEtabData() {
  return  [
       {% for etab in etabs %}
          {"label" : "{{etab.nom}}",
          "value" : "{{etab.formation|length}}"},
      {% endfor %}
    ];
  }

  //Nombre de labo par établissements
  function laboEtabData() {
  return  [
       {% for etab in etabs %}
          {"label" : "{{etab.nom}}",
          "value" : "{{etab.labo|length}}"},
      {% endfor %}
    ];
  }


  //20 disciplines les plus populaires
  function formationTopDisciplineData() {
  return  [
       {% for discipline in allDisciplinesFormations %}
          {"label" : "{{discipline.item.nom}}",
          "value" : "{{discipline.item.formation|length}}"},
      {% endfor %}
    ];
  }

  //Répartition des NW3 par formation
  function allNw3DisciplinesFormationsData() {
    return [
        {% for discipline in allNw3DisciplinesFormations %}
          {"label" : "{{discipline.item.nom}}",
          "value" : "{{discipline.nb}}" },
        {% endfor %}
    ];
  }

  //Répartition des NW3 par labo
  function allNw3DisciplinesLabosData() {
    return [
        {% for discipline in allNw3DisciplinesLabos %}
          {"label" : "{{discipline.item.nom}}",
          "value" : "{{discipline.nb}}" },
        {% endfor %}
    ];
  }

  
  //Répartition des types de labo
  function nbTypeLabosData() {
    return [
        {% for labo in nbTypeLabos %}
          {"label" : "{{labo.type}}",
          "value" : "{{labo.nb}}" },
        {% endfor %}
    ];
  }


    </script>

    
{% endblock %}