{% extends 'base.html.twig' %}

{% block fos_user_content %}{% endblock %}
{% block stylesheets %}
{% endblock %}


{% block body %}
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center" style="color:white;">Visualisation des compétences de la COMUE heSam Université</h1>
        <div class="row center">
          <h5 class="header col s12 light" style="color:white;">Visualisation des compétences de la COMUE heSam Université</h5> 
        </div>
        <div class="row center">
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="img/louvres.jpg" alt="Unsplashed background img 1"></div>
  </div>

<div class='container'>
    <header>


  
    </header>
    <section class="row">
      <h2>Visam : première démo</h2>
      <article class="col s5">
        <h3>Explorer les données de la COMUE HESAM</h3>

        <p>Nous disposons actuellement d'une grande partie des données des établissements. Nous proposons un premier parcours à partir des informations qu'elles produisent afin de de rendre compte de l'état de la collecte et de l'importation des données et, nous l'espérons, de mettre en avant plusieurs scénarios d'exploitation.</p>

      </article>

        <article class="col s7">
            <h3>Import des données</h3>
            
            <ul>
              <li>Etablissements dont les laboratoires sont importés :</li>
              <li>Etablissements dont les formations sont importés : </li>
              <li>Etablissements dont les ED sont importés :</li>
            </ul>

        </article>

       
    </section>

  </div>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center" style="color:white;">La COMUE HESAM</h1>
        <div class="row center">
                  <h5 class="header col s12 light" style="color:white;">Visam comprend {{etabs|length}} établissements</h5>
        </div>
        <div class="row center">
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="img/pantheon.jpg" alt="Unsplashed background img 1"></div>
  </div>

    <div class='container'>


<!-- Général -->
  
  <article>
  <p>Visam compte, selon les données entrées dans la base de données <strong>{{eds|length}}</strong> ED, <strong>{{formations|length}}</strong> formations et <strong>{{labos|length}}</strong> laboratoires  répartis sur <strong>{{etabs|length}}</strong> établissements.</p>
  </article>

<!-- Effectifs -->
       <article> 
            <h2>Les effectifs</h2>
            <p>Selon les données entrées dans la base de données ViSam, HeSam compte :
                <ul>
                    <li><span class="number">{{nbEtud}}</span> étudiants</li>
                    <li>enseignants et chercheurs</li>
                </ul></p>
        </article>

        <article>
            <h2>Répartition des étudiants par établissement</h2>
            <p>Pour réaliser les visualisations, il faut que je puisse faire communiquer les données de Visam avec JS (ce que Twig ne permet pas).</p>
            <p>Pour y parvenir je dois exporter le code contenant le contenu des visualisations en JSON.</p>
            <div id="piechart"></div>
        </article>

        <article>
            <h2>Répartition des chercheurs par établissement</h2>
            <div id="chercheur-stat">
              <svg style="height:500px;"></svg>
            </div>
        </article>

<!-- Les disciplines HESAM -->


        <article>
          <h2>Les disciplines</h2>

                   
          
          <div class="row">

            <div class='col s8'>
              <h3>Les disciplines les plus fréquentes</h3>
              <p>Les disciplines les plus populaires pour l'ensemble des formations et laboratoires (pas encore implémenté) de la COMUE et pour tous types de disciplines (CNU, HCERES, SISE et NW3)</p> 
              <table class="striped">
              {% for discipline in allDisciplines %}
                    <tr><td>{{discipline.item.type}}</td><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
     {#                ({{discipline.item.formation|length}}) #}
              {% endfor %}
              </table>
            </div>

            <div class="col s4">
              <h3>Disciplines NW3 les plus fréquentes</h3>
              <table class="striped">
              {% for discipline in allNw3Disciplines %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
              {% endfor %}
              </table>

              <p>Les données NW3 n'étaient pas obligatoires lors de la collecte, certaines formations ou laboratoires peuvent avoir choisi de ne pas y avoir recourt.</p>
            </div>
          </div>
          

          <div class="row">
            <div class="col s4">
            <h3>Disciplines CNU les plus fréquentes</h3>
            <table class="striped">
            {% for discipline in allCnuDisciplines %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
            {% endfor %}
            </table>
            </div>

            <div class="col s4">
            <h3>Disciplines HCERES les plus fréquentes</h3>
            <table class="striped">
            {% for discipline in allHceresDisciplines %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
            {% endfor %}
            </table>
            </div>

            <div class="col s4">
            <h3>Disciplines SISE les plus fréquentes</h3>
            <table class="striped">
            {% for discipline in allSiseDisciplines %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
            {% endfor %}
            </table>
            </div>
          </div>

         
        </article>

{# 
        <article>
          <h2>Les domaines?</h2>
          <h3>Répartition par domaine HCERES</h3>
          <h3>Répartition par domaine SISE</h3>
        </article> #}

        

</div>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center" style="color:white;">Formations</h1>
        <div class="row center">
          <h5 class="header col s12 light" style="color:white;">La base contient actuellement 99 formations.</h5>
 </div>
        <div class="row center">
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="img/sorbonne.jpg" alt="Unsplashed background img 1"></div>
  </div>

<div class="container">

        <article>
            <h2>Répartition des formations par niveau</h2>
            <!--  -->
            <div id="formation-niveau"><svg style="height:400px;"></svg></div>
        </article>

        <article>
            <h2>Répartition des formations par établissements</h2>
              {% for etab in etabs %}
                  <h5>{{etab.nom}} ({{etab.formation|length}})</h5>
                <!--<p>
                      {% for formation in etab.formation %}
                          {{formation.nom}} /
                      {% endfor %}
                  </p> -->
              {% endfor %}
        </article>

        <article>
          <h2>Formations & Disciplines</h2>



          <div class="row">

            <div class='col s8'>
              <h3>Les disciplines les plus fréquentes</h3>
              <p>Les disciplines les plus populaires pour l'ensemble des formations de la COMUE et pour tous types de disciplines (CNU, HCERES, SISE et NW3)</p> 
              <table class="striped">
              {% for discipline in allDisciplinesFormations %}
                    <tr><td>{{discipline.item.type}}</td><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
     {#                ({{discipline.item.formation|length}}) #}
              {% endfor %}
              </table>
            </div>

            <div class="col s4">
              <h3>Disciplines NW3 les plus fréquentes</h3>
              <table class="striped">
              {% for discipline in allNw3DisciplinesFormations %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
              {% endfor %}
              </table>

              <p>Les données NW3 n'étaient pas obligatoires lors de la collecte, certaines formations ou laboratoires peuvent avoir choisi de ne pas y avoir recourt.</p>
            </div>
          </div>
          

          <div class="row">
            <div class="col s4">
            <h3>Disciplines CNU les plus fréquentes</h3>
            <table class="striped">
            {% for discipline in allCnuDisciplinesFormations %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
            {% endfor %}
            </table>
            </div>

            <div class="col s4">
            <h3>Disciplines HCERES les plus fréquentes</h3>
            <table class="striped">
            {% for discipline in allHceresDisciplinesFormations %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
            {% endfor %}
            </table>
            </div>

            <div class="col s4">
            <h3>Disciplines SISE les plus fréquentes</h3>
            <table class="striped">
            {% for discipline in allSiseDisciplinesFormations %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
            {% endfor %}
            </table>
            </div>
          </div>

        </article>
    </div>

    <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center" style="color:white;">Laboratoires</h1>
        <div class="row center">
          <h5 class="header col s12 light" style="color:white;">La base contient actuellement {{labos|length}} laboratoires</h5>
 </div>
        <div class="row center">
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="img/labo.jpg" alt="Unsplashed background img 1"></div>
  </div>
    

 <div class="container">
  <article>
    <h2>Disciplines & Laboratoires</h2>

     <div class="row">

            <div class='col s8'>
              <h3>Les disciplines les plus fréquentes</h3>
              <p>Les disciplines les plus populaires pour l'ensemble des laboratoires de la COMUE et pour tous types de disciplines (CNU, HCERES, SISE et NW3)</p> 
              <table class="striped">
              {% for discipline in allDisciplinesLabos %}
                    <tr><td>{{discipline.item.type}}</td><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
     {#                ({{discipline.item.formation|length}}) #}
              {% endfor %}
              </table>
            </div>

            <div class="col s4">
              <h3>Disciplines NW3 les plus fréquentes</h3>
              <table class="striped">
              {% for discipline in allNw3DisciplinesLabos %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
              {% endfor %}
              </table>

              <p>Les données NW3 n'étaient pas obligatoires lors de la collecte, certaines formations ou laboratoires peuvent avoir choisi de ne pas y avoir recourt.</p>
            </div>
          </div>
          

          <div class="row">
            <div class="col s4">
            <h3>Disciplines CNU les plus fréquentes</h3>
            <table class="striped">
            {% for discipline in allCnuDisciplinesLabos %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
            {% endfor %}
            </table>
            </div>

            <div class="col s4">
            <h3>Disciplines HCERES les plus fréquentes</h3>
            <table class="striped">
            {% for discipline in allHceresDisciplinesLabos %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
            {% endfor %}
            </table>
            </div>

            <div class="col s4">
            <h3>Disciplines SISE les plus fréquentes</h3>
            <table class="striped">
            {% for discipline in allSiseDisciplinesLabos %}
                  <tr><td>{{discipline.item.nom}}</td><td>{{discipline.nb}}</td></tr>
            {% endfor %}
            </table>
            </div>
          </div>

  </article>
 </div>   

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center" style="color:white;">Ecoles Doctorales</h1>
        <div class="row center">
          <h5 class="header col s12 light" style="color:white;">La base contient actuellement {{eds|length}} écoles doctorales</h5>
 </div>
        <div class="row center">
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="img/ed.png" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
{#         <article>
        <h2>Les ED d'un établissement</h2>

        <p>Si je fais un focus sur un établissement, par exemple {{etabs[1].nom}}, ses ED sont :
            <ul>
            {% for eds in etabs[1].ed %}
            <li>{{eds.nom}}, {{eds.code}}</li>
            {% endfor %}
            </ul>
        </p>
        </article> #}


        <article>
        <h2>Les ED par établissement</h2>
        <p>J'essaye de faire la même chose pour toutes les écoles doctorales de tous les établissements. D'abord toutes les ED:</p>



        <ul class="collection">
        {% for etab in etabs %}
            <li class="collection-item">{{etab.nom}} ({{etab.ed|length}})
                <ol>
                {% for eds in etab.ed %}
                    <li>{{eds.nom}}</li>
                {% endfor %}
                </ol>
            </li>
        {% endfor %}
        </ul>

    </div>


    <div class="container">
{#       <article>
        <h2>Les localisations</h2>

            {% for localisation in localisations %}
              {{localisation.nom}}{{localisation.lat}}{{localisation.long}}
              {% for etab in localisation.etablissement %}
                {{etab.nom}}
              {% endfor %}
                
            {% endfor %}
      </article>

      <article>
        <h2>Localisations pour la map</h2>
        {% for item in map %}
          {{item.nom}}
          {{item.lat}}
          {{item.long}}
          {{item.adresse}}
        {% endfor %}
      </article>
    </div> #}

{#     <img src="img/map.png" alt=""> #}



  </div>

  <div class="row">
    <div class='overlay'></div>
    <iframe src="http://localhost:8888/2016/map/map-visam/#/" frameborder="0" class ='col s12' id='map' ></iframe>
  </div>


    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>  
    <script src="{{ asset('js/function.js') }}"></script>

    <!-- Materialize -->
    <script type="text/javascript" src="../bower_components/Materialize/js/parallax.js"></script>
    <script>
      (function($){
        $(function(){
          $('.parallax').parallax();
        }); // end of document ready
      })(jQuery); // end of jQuery name space
    </script>

    <!-- D3.JS -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../bower_components/nvd3/build/nv.d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.com/libraries/Chart.js"></script>
    <link rel="stylesheet" href="../bower_components/nvd3/build/nv.d3.css"> 
    <!-- END D3.JS -->
    

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Etablissement', "Nombre d'étudiants"],
          ['{{etabs[0].nom}}',     {{etabs[0].etudiants}}],
          ['{{etabs[1].nom}}',     {{etabs[1].etudiants}}],
          ['{{etabs[2].nom}}',      {{etabs[2].etudiants}}],
          ['{{etabs[3].nom}}',  {{etabs[3].etudiants}}],
          ['{{etabs[4].nom}}', {{etabs[4].etudiants}}],
          ['{{etabs[5].nom}}',    {{etabs[5].etudiants}}],
          ['{{etabs[6].nom}}',    {{etabs[6].etudiants}}],
          ['{{etabs[7].nom}}',    {{etabs[7].etudiants}}],
          ['{{etabs[8].nom}}',    {{etabs[8].etudiants}}],
          ['{{etabs[9].nom}}',    {{etabs[9].etudiants}}],
          ['{{etabs[10].nom}}',    {{etabs[10].etudiants}}],
          ['{{etabs[11].nom}}',    {{etabs[11].etudiants}}],
          ['{{etabs[12].nom}}',    {{etabs[12].etudiants}}],
        ]);

        var options = {
          title: 'Répartition des étudiants par établissement'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);

        //Deuxième essai de visualisation

        var chart2 = new google.visualization.PieChart(document.getElementById('piechart2'));

        var data2 = google.visualization.arrayToDataTable([
          ['Etablissement', "Nombre d'étudiants"],
            {% for etab in etabs %}
                ['{{etab.nom}}',{{etab.chercheurs}}],
            {% endfor %}
        ]);

        var options = {
          title: 'Répartition des chercheurs par établissement'
        };

        chart2.draw(data2, options);


        //Répartition des formations par niveau

        var chart3 = new google.visualization.PieChart(document.getElementById('piechart3'));

        var data3 = google.visualization.arrayToDataTable([
          ['Formation', "Niveau"],
            {% for nbFormation in nbFormations %}
                    ['{{nbFormation.niveau}}',{{nbFormation.nb}}],
            {% endfor %}
        ]);

        var options = {
          title: 'Répartition des formations par niveau'
        };

        chart3.draw(data3, options);

        //Répartition des formations par établissement

        var chart4 = new google.visualization.PieChart(document.getElementById('piechart4'));

        var data4 = google.visualization.arrayToDataTable([
          ['Etablissement', "Nb Formations"],
          {% for etab in etabs %}
            ['{{etab.nom}}',{{etab.formation|length}}],
          {% endfor %}
        ]);

        var options = {
          title: 'Répartition des formations par niveau'
        };

        chart4.draw(data4, options);

      }


    </script>

    <script>
            //Regular pie chart example
      nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .showLabels(true);

          d3.select("#formation-niveau3 svg")
              .datum(formationData())
              .transition().duration(350)
              .call(chart);

        return chart;
      });

      //Donut chart example
      nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .showLabels(true)     //Display pie labels
            .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
            .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
            .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
            .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
            ;
          d3.select("#formation-niveau svg")
              .datum(formationData())
              .transition().duration(350)
              .call(chart);

        return chart;
      });

            //Donut chart example
      nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .showLabels(true)     //Display pie labels
            .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
            .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
            .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
            .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
            ;
          d3.select("#chercheur-stat svg")
              .datum(chercheursData ())
              .transition().duration(350)
              .call(chart);

        return chart;
      });

      // nv.addGraph(function() {
      //   var chart = nv.models.discreteBarChart()
      //       .x(function(d) { return d.label })    //Specify the data accessors.
      //       .y(function(d) { return d.value })
      //       .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
      //       .tooltips(false)        //Don't show tooltips
      //       .showValues(true)       //...instead, show the bar value right on top of each bar.
      //       .transitionDuration(350)
      //       ;
      //   d3.select('#formation-niveau2 svg')
      //       .datum(formationData())
      //       .call(chart);
      //   nv.utils.windowResize(chart.update);
      //   return chart;
      // });


//Pie chart example data. Note how there is only a single array of key-value pairs.
function formationData() {
  return  [
      {% for nbFormation in nbFormations|sort %}
          {"label" : "{{nbFormation.niveau}}",
          "value" : "{{nbFormation.nb}}"},
      {% endfor %}
    ];
}

function chercheursData() {
  return  [
      {% for etab in etabs|sort %}
          {"label" : "{{etab.nom}}",
          "value" : "{{etab.chercheurs}}"},
      {% endfor %}
    ];
  }

    </script>

    
{% endblock %}