<div class="form-group">
    {{ form_widget(form.attachment) }}
    {{ form_widget(form.obj_id) }}
    {{ form_widget(form.action) }}
    {{ form_widget(form.field) }}

</div>
<div class="modal-footer right-align">

    {{ form_widget(form.upload) }}

</div>
