{% extends 'base.html.twig' %}

{% block fos_user_content %}{% endblock %}
{% block stylesheets %}

{% endblock %}


{% block body %}

<section class='container' id="home">

  <br>
    <div class="row">
        <div class="col s12 m4">
          <div class="card teal">
                <a href="/rechercher" class="modal-trigger">
                    <div class="card-content white-text center-align">
                    <i class="large material-icons">view_module</i>
                    <p class="center-align number">1400</p>
                    <p class="center-align number-label">
                        Formations
                    </p>
                    </div>
                </a>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card cyan">
                <a href="/rechercher" class="modal-trigger">
                    <div class="card-content white-text center-align">
                    <i class="large material-icons">view_module</i>
                    <p class="center-align number">85</p>
                    <p class="center-align number-label">
                        Laboratoires
                    </p>
                    </div>
                </a>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card amber accent-2">
                <a href="/rechercher" class="modal-trigger">
                    <div class="card-content white-text center-align">
                    <i class="large material-icons">view_module</i>
                    <p class="center-align number">14</p>
                    <p class="center-align number-label">
                        Ecoles doctorales
                    </p>
                    </div>
                </a>
          </div>
        </div>
    </div>


    <article>
        <p>Le module d'exploration d'HESAM Université permet de parcourir les formations, laboratoires et écoles doctorales de la COMUE.</p>
    </article>

    <article >
        <a href="/rechercher">
            <input class="pointer" type="text" placeholder="Cliquer pour faire une recherche">
        </a>
    </article>
</section>

<section class="container">
    <article class="row">
        <h2>Champs disciplinaires</h2>

        {% for hesamette in hesamettes %}
            <li class="btn red darken-2 tags">{{hesamette.nom}}</li>
        {% endfor %}
</section>

<section class="container row">
        <div class="col s6">
        <h3>Formations</h3>
            <div id="form-hesamette">
              <svg style="height:500px;"></svg>
            </div>
        </div>

        <div class="col s6">
        <h3>Laboratoires</h3>
            <div id="labo-hesamette">
              <svg style="height:500px;"></svg>
            </div>
        </div>

    </article>
</section>

<section class="red darken-2" style="padding:20px 0px">
<section class="container">
<iframe src="http://localhost:8888/2016/visamFront/2016-06-05/map/" frameborder="0" width="100%" height="600px"></iframe>
</section>
</section>

 <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>  
    <script src="{{ asset('js/function.js') }}"></script>

    <!-- Materialize -->
    <script type="text/javascript" src="../bower_components/Materialize/js/parallax.js"></script>


    <!-- D3.JS -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../bower_components/nvd3/build/nv.d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.com/libraries/Chart.js"></script>
    <link rel="stylesheet" href="../bower_components/nvd3/build/nv.d3.css"> 
    <!-- END D3.JS -->
    
    <!-- jqcloud -->
    <script src="../bower_components/jqcloud/dist/jqcloud.min.js"></script>
    <link rel="stylesheet" href="../bower_components/jqcloud/dist/jqcloud.min.css">
    <!-- END jqcloud -->

<script src="{{ asset('js/function.js') }}"></script>

<script>

//Répartition des hesamettes pour les labos
      nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .showLabels(true)     //Display pie labels
            .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
            .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
            .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
            .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
            ;
          d3.select("#labo-hesamette svg")
              .datum(nbLaboParHesametteData ())
              .transition().duration(350)
              .call(chart);

        return chart;
      });

      //Répartition des hesamettes pour les formations
      nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .showLabels(true)     //Display pie labels
            .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
            .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
            .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
            .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
            ;
          d3.select("#form-hesamette svg")
              .datum(nbFormParHesametteData ())
              .transition().duration(350)
              .call(chart);

        return chart;
      });
    

      //Répartition des labos par hesamettes
  function nbLaboParHesametteData() {
    return [
        {% for hesamette in labosHesamette %}
          { "label" :"{{hesamette.hesamette}}",
          "value" : "{{hesamette.nb}}" },
        {% endfor %}
    ];
  }

  //Répartition des formations par hesamettes
  function nbFormParHesametteData() {
    return [
        {% for hesamette in formationsHesamette %}
          { "label" :"{{hesamette.hesamette}}",
          "value" : "{{hesamette.nb}}" },
        {% endfor %}
    ];
  }
</script>

{% endblock %}