{% extends 'base.html.twig' %}

{% block body %}
    <h1>Axe list</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Date_creation</th>
                <th>Last_update</th>
                <th>Axeid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for axe in axes %}
            <tr>
                <td><a href="{{ path('axe_show', { 'id': axe.axeId }) }}">{{ axe.nom }}</a></td>
                <td>{{ axe.description }}</td>
                <td>{% if axe.datecreation %}{{ axe.datecreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if axe.lastupdate %}{{ axe.lastupdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ axe.axeId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('axe_show', { 'id': axe.axeId }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('axe_edit', { 'id': axe.axeId }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('axe_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
