{% extends 'editeur.html.twig' %}

{% block body %}

    <div class="container">
    <h1>Editer une formation</h1>

    {{ form_start(edit_form) }}

        {{ include('EditeurBundle:Equipement:_form.html.twig') }}

        <input type="submit" class="btn btn-hesam" value="Edit" />
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
     <button disabled value="Supprimer" class="btn btn-hesam right ">Supprimer</button>
    {{ form_end(delete_form) }}
    <ul>
        <li>
            <a href="{{ path('search') }}">Retour</a>
        </li>

    </ul>


    </div>

{% endblock %}
