{% extends 'editeur.html.twig' %}

{% block body %}

    <section class="container">
        <h1>{{ etablissement.sigle |upper }} - Edition</h1>

        {{ form_start(etablissementForm) }}
        {{ include('EditeurBundle:Etablissement:_form.html.twig') }}
            <input type="submit" value="Edit" class="btn btn-hesam" formnovalidate/>
        {{ form_end(etablissementForm) }}

        {{ form_start(delete_form) }}
            <button disabled value="Supprimer" class="btn btn-hesam right ">Supprimer</button>
        {{ form_end(delete_form) }}

        <ul>
            <li>
                <a href="{{ path('editeur') }}">Retour</a>
            </li>

        </ul>

    </section>
{% endblock %}
