{% extends 'editeur.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}

    <section class="container">
        <h1>Ajout d'un établissement</h1>

        {{ form_start(etablissementForm, {'attr': {'id' : 'etablissementForm', 'class':'validation-app'}}) }}
        {{ include('EditeurBundle:Etablissement:_form.html.twig') }}
            <input class="btn btn-hesam btn-validation" type="submit" value="Créer" formnovalidate />

        {{ form_end(etablissementForm) }}

        {% include "EditeurBundle:modals:_retour.html.twig" %}

    </section>
{% endblock %}

{%  block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('assets/vendor/parsleyjs/dist/parsley.js') }}"></script>#}
    <script src="{{ asset('assets/vendor/jquery-validation/dist/jquery.validate.js') }}"></script>
    <script src="{{ asset('js/valorisationForm.js') }}"></script>
    <script src="{{ asset('js/validation/validationApp.js') }}"></script>
    <script src="{{ asset('js/validation/etablissement.js') }}"></script>

{% endblock %}