<div class="row form">

    <div class="col s12">
        <div class="cartouche">


            <h3>Informations générales</h3>

            {{ form_row(edit_form.nom) }}
            {{ form_row(edit_form.prenom) }}
            {{ form_row(edit_form.profession) }}
            {{ form_row(edit_form.genre) }}
            {{ form_row(edit_form.mail) }}

        </div>
    </div>


</div>

