{% extends "editeur.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}

    <section class="container">
        <h1>Tous les laboratoires</h1>

        <div class="card">
        <ul class="collection with-header">

            {% for item in labos  %}
                <li class="collection-item avatar js-labo-item">
                    <a href="{{ path('editeur_laboratoire_edit', {'id': item.laboId } ) }}" >
                        {% if item.checkGeneral and item.checkContact and item.checkEtab and item.checkEtab and item.checkEffectifs and item.checkDescription %}
                            <i class="material-icons circle green">done</i>
                        {% else %}
                            <i class="material-icons circle red">mode_edit</i>
                        {% endif %}

                        <span class="title">{{ item.nom }}</span>
                        <span class="lastmodif">dernière modification le <i>{{ item.lastUpdate|date() }}</i></span>

                        <p>

                        <div class="description_container">
                            <span class="description valign-wrapper">général
                                {% if item.checkGeneral %}
                                    <i class="material-icons green-text">done</i>
                                {% else %}
                                    <i class="material-icons red-text">schedule</i>
                                {% endif %}
                            </span>
                        </div>

                        <div class="description_container">
                            <span class="description valign-wrapper">contact
                                {% if item.checkContact %}
                                    <i class="material-icons green-text">done</i>
                                {% else %}
                                    <i class="material-icons red-text">schedule</i>
                                {% endif %}
                            </span>
                        </div>

                        <div class="description_container">
                            <span class="description valign-wrapper">description
                                {% if item.checkDescription %}
                                    <i class="material-icons green-text">done</i>
                                {% else %}
                                    <i class="material-icons red-text">schedule</i>
                                {% endif %}
                            </span>
                        </div>

                        <div class="description_container">
                            <span class="description valign-wrapper">établissement
                                {% if item.checkEtab %}
                                    <i class="material-icons green-text">done</i>
                                {% else %}
                                    <i class="material-icons red-text">schedule</i>
                                {% endif %}
                            </span>
                        </div>

                        <div class="description_container">
                            <span class="description valign-wrapper">effectifs
                                {% if item.checkEffectifs %}
                                    <i class="material-icons green-text">done</i>
                                {% else %}
                                    <i class="material-icons red-text">schedule</i>
                                {% endif %}
                            </span>
                        </div>

                        </p>
                    </a>

                </li>

            {% endfor %}
        </ul>

        <ul class="pagination center">
            {% for u in 0..(nbPages-1)  %}
                {% if page == loop.index %}
                    <li class="active"><a href="{{ path('admin_laboratoires' , {'page' : loop.index}) }}">{{ loop.index }}</a></li>
                {% else %}
                    <li class="waves-effect"><a href="{{ path('admin_laboratoires' , {'page' : loop.index}) }}">{{ loop.index }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        {#<ul class="pagination center">#}
            {#<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>#}
            {#<li class="active"><a href="#!">1</a></li>#}
            {#<li class="waves-effect"><a href="#!">2</a></li>#}
            {#<li class="waves-effect"><a href="#!">3</a></li>#}
            {#<li class="waves-effect"><a href="#!">4</a></li>#}
            {#<li class="waves-effect"><a href="#!">5</a></li>#}
            {#<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>#}
        {#</ul>#}

        </div>
    </section>
{% endblock %}