{% extends 'base.html.twig' %}

{% block body %}

    <section class="container">
        <h1>Ajout d'un établissement</h1>

        {{ form_start(etablissementForm) }}
            {{ form_row(etablissementForm.nom) }}
            {{ form_row(etablissementForm.description, { 'attr': {'class': 'materialize-textarea'} }) }}
            {{ form_row(etablissementForm.code) }}
            {{ form_row(etablissementForm.sigle) }}
            {{ form_row(etablissementForm.lien) }}
            {{ form_row(etablissementForm.ministere) }}
            {{ form_row(etablissementForm.fc) }}
            {{ form_row(etablissementForm.fcLien) }}
            {{ form_row(etablissementForm.statut) }}
            {{ form_row(etablissementForm.etudiants) }}
            {{ form_row(etablissementForm.chercheurs) }}
            {{ form_row(etablissementForm.lien2) }}
            {{ form_row(etablissementForm.lien3) }}

            <input class="btn btn-hesam" type="submit" value="Créer" formnovalidate />

        {{ form_end(etablissementForm) }}

        <ul>
            <li>
                <a href="{{ path('editeur') }}">Retour à l'éditeur</a>
            </li>
        </ul>

    </section>
{% endblock %}
