{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}
<section class='container'>

    <article>
        <h1 class="center">Administration de visam [top secret]</h1>
    </article>

    <article>
        <h2>Liste des établissements</h2>

        <table class="striped">
            <tr>
                <th>Nom</th>
                <th>description</th>
                <th>code</th>
                <th>sigle</th>
                <th>lien</th>
                <th>ministère</th>
                <th>statut</th>
                <th>etudiants</th>
                <th>chercheurs</th>
                <th>date de création</th>
                <th>dernier changement</th>
                <th>Modifier</th>
            </tr>
            {% for etab in etablissements %}
                <tr>
                    <td>{{ etab.nom }}</td>
                    <td>{{ etab.description |slice(0,100) }} ...</td>
                    <td>{{ etab.code }}</td>
                    <td>{{ etab.sigle }}</td>
                    <td><a href="{{ etab.lien }}" target="_blank">{{ etab.lien }}</a></td>
                    <td>{{ etab.ministere }}</td>
                    <td>{{ etab.statut }}</td>
                    <td>{{ etab.etudiants }}</td>
                    <td>{{ etab.chercheurs }}</td>
                    <td>{{ etab.dateCreation |date("d/m/y g:i:s", "Europe/Paris")}}</td>
                    <td>{{ etab.lastUpdate|date("d/m/y g:i:s", "Europe/Paris")}}</td>
                    <td><a href="{{ path("editeur_etablissement_edit", { "id" : etab.etablissementId }) }}">Modifier</a></td>
                </tr>
            {% endfor %}

        </table>
    </article>


    <article>
        <h2>Derniers laboratoires modifiés ou créés</h2>

        <table class="striped">
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Lien</th>
                    <th>Mail de contact</th>
                    <th>Responsable</th>
                    <th>Etablissement(s)</th>
                    <th>Modifier</th>
                </tr>
            {% for labo in laboratoires %}
                <tr>
                    <td>{{ labo.nom }}</td>
                    <td>{{ labo.description |slice(0,1000) }}...</td>
                    <td><a href="{{ labo.lien }}">{{ labo.lien }}</a></td>
                    <td>{{ labo.mailContact }}</td>
                    <td>{{ labo.responsable }}</td>
                    <td>{% for etab in labo.etablissement  %}
                            {{ etab.nom }}{% if loop.last %}{% else %}, {% endif %}
                        {% endfor %}</td>
                    <td><a href="{{ path('editeur_laboratoire_edit', {'id' : labo.laboId}) }}">Modifier</a></td>
                </tr>
            {% endfor %}
        </table>
    </article>


    <article>
        <h2>Dernières formations modifiées ou créées</h2>

        <table>
                <tr>
                    <td>Nom</td>
                    <td>Description</td>
                    <td>Lien</td>
                    <td>Année</td>
                    <td>Type de diplôme</td>
                    <td>Etablissement(s)</td>
                    <td>Modifier</td>
                </tr>
            {% for formation in formations %}
                <tr>
                    <td>{{ formation.nom }}</td>
                    <td>{{ formation.description |slice(0,1000) }}...</td>
                    <td>{{ formation.url }}</td>
                    <td>{{ formation.annee }}</td>
                    <td>{{ formation.typeDiplome }}</td>
                    <td>{% for etab in formation.etablissement  %}
                            {{ etab.nom }}{% if loop.last %}{% else %}, {% endif %}
                        {% endfor %}</td>
                    <td><a href="{{ path('editeur_formation_edit', {'id' : formation.formationId}) }}">Modifier</a></td>
                </tr>
            {% endfor %}
        </table>
    </article>
</section>
{% endblock %}