{% extends 'base.html.twig' %}

{% block body %}
    <h1>Labo</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ labo.nom }}</td>
            </tr>
            <tr>
                <th>Etabext</th>
                <td>{{ labo.etabExt }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ labo.lien }}</td>
            </tr>
            <tr>
                <th>Mailcontact</th>
                <td>{{ labo.mailcontact }}</td>
            </tr>
            <tr>
                <th>Responsable</th>
                <td>{{ labo.responsable }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ labo.description }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ labo.code }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ labo.type }}</td>
            </tr>
            <tr>
                <th>Effectif</th>
                <td>{{ labo.effectif }}</td>
            </tr>
            <tr>
                <th>Sigle</th>
                <td>{{ labo.sigle }}</td>
            </tr>
            <tr>
                <th>Lien2</th>
                <td>{{ labo.lien2 }}</td>
            </tr>
            <tr>
                <th>Lien3</th>
                <td>{{ labo.lien3 }}</td>
            </tr>
            <tr>
                <th>Laboid</th>
                <td>{{ labo.laboId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('labo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('labo_edit', { 'id': labo.laboId }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
