{% extends 'base.html.twig' %}

{% block body %}

<header class="etablissement" style="background-style:cover;">
		<h1 class="center">{{ etablissement.nom }}{% if collecte > 0 %}  [Collecte {{ collecte }}]{% endif %}</h1>
</header>

 <div role="main" class="container">


	<div class="row background-white">
		<div class="col s12 m12">
			  <p class="flow-text">{{etablissement.description}}</p>
		</div>

		<div class="col s12 m4">
		  <div class="">
				<a href="#formations" class="modal-trigger">
					<div class="card-content white-text center-align">
					<p class="center-align number">{{ formations|length }}</p>
					<p class="center-align number-label">
						Formations
					</p>
					</div>
				</a>
		  </div>
		</div>
		<div class="col s12 m4">
		  <div class=" ">
				<a href="#laboratoires" class="modal-trigger">
					<div class="card-content white-text center-align">
					<p class="center-align number">{{ labos|length }}</p>
					<p class="center-align number-label">
						Laboratoires
					</p>
					</div>
				</a>
		  </div>
		</div>
		<div class="col s12 m4">
		  <div class=" ">
				<a href="#ecoles" class="modal-trigger">
					<div class="card-content white-text center-align">
					<p class="center-align number">{{ eds|length }}</p>
					<p class="center-align number-label">
						Ecoles doctorales
					</p>
					</div>
				</a>
		  </div>
		</div>
	</div>

	<div class="row">
		      {% for formation in formations|slice(0,3) %}
                    <div class="col m4 l4">
                        <div class="formation notice petit" >
                            <div class="type"><img src="/img/hat.svg" alt="labo"><h4>Formation</h4></div>
                            <h2><a href="{{ path('formation' , {"id" : formation.id}) }}">{{formation.nom}}</a></h2>
                               {% for etablissement in formation.etablissement %}
                            <h3>{{etablissement.nom}}</h3>
                          {% endfor %}

                          <a class="discover" href="{{ path('formation' ,{"id" : formation.id}) }}">+ Découvrir la formation</a>
                        </div>
                    </div>
            {% endfor %}
	</div>
	<div class="row">
            {% for labo in labos|slice(0,3) %}
                    <div class="col m4 l4">
                        <div class="laboratoire notice petit" >
                          <div class="type"><img src="/img/labo.svg" alt="labo"><h4>Laboratoire</h4></div>
                          <h2><a href="{{ path('labo' ,{"id" : labo.id}) }}">{{labo.nom}}</a></h2>
                          {% for etablissement in labo.etablissement %}
                            <h3>{{etablissement.nom}}</h3>
                          {% endfor %}
                          <a class="discover" href="{{ path('labo' ,{"id" : labo.id}) }}">+ Découvrir le laboratoire</a>
                        </div>
                    </div>
         	{% endfor %}
	</div>


  </div>

  <footer>

  </footer>

{% endblock %}
