{% extends 'base.html.twig' %}

{% block body %}


 <div role="main" class="container">

	 <div class="row">
		<h1 class="center">{{ etablissement.nom }}{% if collecte > 0 %}  [Collecte {{ collecte }}]{% endif %}</h1>

	 </div>

	<div class="row">
			<div class="col s12 m12">
			  <div class="card">
				<div class="card-image">
				  {#<img src="images/cnam.jpg">#}
				  <span class="card-title">{{ etablissement.nom }}</span>
				</div>
				<div class="card-content">
				  <p class="flow-text">{{etablissement.description}}</p>
				</div>
			  </div>
			</div>
	</div>

	<div class="row">
		      {% for formation in formations|slice(0,3) %}
                <div class="col m4 l4">
                    <div class="card formation petit" >
                        <div class="card-content">
                            <span class="etablissement"><span>{{formation.annee}}</span> - <span>{{ formation.niveau }}</span></span>
                            <h5><a href="{{ path('formation' , {"id" : formation.id}) }}">{{formation.nom}}</a></h5>
                            {# <span> {{labo.etablissement}}</span> #}
                            <ul class="list-thematique" >
                                {% for discipline in formation.discipline|slice(0,3)%}
                                    <li>{{discipline.nom}}</li>
                                {% endfor%}
                                {# les disciplines #}
                            </ul>
                        </div>
                        <div class="card-action">
                            <a href="{{formation.url}}"><i class="material-icons">input</i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
	</div>
	<div class="row">
            {% for labo in labos|slice(0,3) %}
            	<div class="col m4 l4">
                    <div class="card laboratoire petit" >
                      <div class="card-content">
                      <span class="etablissement"><span>{{labo.type}}</span> - {{labo.code}}</span>
                         <h5><a href="{{ path('labo' ,{"id" : labo.id}) }}">{{labo.nom}}</a></h5>
                         {# <span> {{labo.etablissement}}</span> #}
                          <ul class="list-thematique" >
                          	{% for discipline in labo.discipline|slice(0,3)%}
                          		<li>{{discipline.nom}}{% if loop.last %}{% else %};{% endif %}</li>
                          	{% endfor%}
                            {# les disciplines #}
                          </ul>
                      </div>
                      <div class="card-action">
                        <a href="{{labo.lien}}"><i class="material-icons">input</i></a>
                    </div>
                   </div>
                  </div>
         	{% endfor %}
	</div>
	<div class="row">
		<div class="col s12 m4">
		  <div class="card teal">
				<a href="#formations" class="modal-trigger">
					<div class="card-content white-text center-align">
					<i class="large material-icons">view_module</i>
					<p class="center-align number">{{ formations|length }}</p>
					<p class="center-align number-label">
						Formations
					</p>
					</div>
				</a>
		  </div>
		</div>
		<div class="col s12 m4">
		  <div class="card cyan">
				<a href="#laboratoires" class="modal-trigger">
					<div class="card-content white-text center-align">
					<i class="large material-icons">view_module</i>
					<p class="center-align number">{{ labos|length }}</p>
					<p class="center-align number-label">
						Laboratoires
					</p>
					</div>
				</a>
		  </div>
		</div>
		<div class="col s12 m4">
		  <div class="card amber accent-2">
				<a href="#ecoles" class="modal-trigger">
					<div class="card-content white-text center-align">
					<i class="large material-icons">view_module</i>
					<p class="center-align number">{{ eds|length }}</p>
					<p class="center-align number-label">
						Ecoles doctorales
					</p>
					</div>
				</a>
		  </div>
		</div>

		{#<div class="col s12 m3">#}
		  {#<div class="card blue-grey darken-1">#}
			{#<div class="card-image">#}
				{#<img src="https://maps.googleapis.com/maps/api/staticmap?center=48.866748,2.3548908&zoom=16&size=350x210&maptype=terrain" alt="">#}
			{#</div>#}
			{#<div class="card-content white-text">#}
			  {#<p><i>292 Rue Saint-Martin, 75003 Paris</i> </p>#}
			{#</div>#}

		  {#</div>#}
		{#</div>#}
	</div>

  </div>

  <footer>

  </footer>

{% endblock %}
