{% extends 'base.html.twig' %}

{% block body %}

    <section class="container">
        <div class="first">
            <div class="card formation">
              	<div class="card-content">

              		<h3>{{formation.nom}}</h3> 

              		{% for etablissement in formation.etablissement %}
						        <span class="etablissement">{{etablissement.nom}}</span><br/>
					        {% endfor %}
					
					<p>{{formation.annee}}, {{formation.niveau}}, effectif : {{formation.effectif}}</p>
					<p><a href="{{formation.url}}">{{formation.url}}</a></p> 

					<h4>Disciplines</h4>
	         <ul class="list-thematique" >
						{% for hesamette in hesamettes %}
							<li>{{hesamette.nom}}({{hesamette.nb}})</li>
						{% endfor %}
	         </ul>
					
					{% if formation.tag | length > 0 %}
					<h4>Mots clés</h4>
	                <ul class="list-thematique" >
						{% for tag in formation.tag %}
							<li>{{tag.nom}}</li>
						{% endfor %}
	                </ul>
	            	{% endif %}



					
					</div>
	              <div class="card-action">
	              <a href="{{formation.url}}"><i class="material-icons">input</i>{{formation.url}}</a>
	              <div style="float:right;">

					

				</div> <!--end card content -->

        	</div>
       	</div>
    </section>


    <section id="suggest">
        <div class="container">
            <div class="suggest row">
            <h4>Voir aussi...</h4>

            {% for formation in formations %}
            	<div class="col m4 l4">
                    <div class="card laboratoire petit" >
                      <div class="card-content">
                      <span class="etablissement"><span>{{formation.typediplome}}</span> - {{formation.niveau}}</span>
                         <h5>{{formation.nom}}</h5>
                         {# <span> {{labo.etablissement}}</span> #}
                          <ul class="list-thematique" >
                          	{% for discipline in formation.discipline|slice(0,3)%}
                          		<li>{{formation.nom}}</li>
                          	{% endfor%}
                            {# les disciplines #}
                          </ul>
                      </div>
                      <div class="card-action">
                        <a href="{{formation.url}}"><i class="material-icons">input</i></a>
                    </div>
                   </div>
                  </div>
         	{% endfor %}


                </div>
            </div>
        </div>
    </section>

	


{% endblock %}