{% extends 'base.html.twig' %}

{% block body %}

	<h2>{{formation.nom}}</h2> 
	<p>{{formation.annee}}, {{formation.niveau}}, effectif : {{formation.effectif}}</p>
	<p><a href="{{formation.url}}">{{formation.url}}</a></p> 

	<article>		
		<h3>Disciplines</h3>
	
		<h4>Discipline Hesam</h4>
		
		{% for hesamette in hesamettes %}
			<li>{{hesamette.nom}}({{hesamette.nb}})</li>
		{% endfor %}


		{# <h4>Disciplines SISE</h4>

       {% for disp in formation.discipline %}
        	{% if disp.type == "SISE" %}
            <li>{{disp.nom}}</li>
        	{% endif %}    
        {% endfor %}

       	<h4>Disciplines CNU</h4>

       {% for disp in formation.discipline %}
        	{% if disp.type == "CNU" %}
            <li>{{disp.nom}}</li>
        	{% endif %}    
        {% endfor %}
		
		<h4>Disciplines HCERES</h4>
       	{% for disp in formation.discipline %}
        	{% if disp.type == "HCERES" %}
            <li>{{disp.nom}}</li>
        	{% endif %}    
        {% endfor %}

        <h4>Disciplines NW3</h4>
       {% for disp in formation.discipline %}
       		{% if disp.type == "NW3" %}
            <li>{{disp.nom}}</li>
        	{% endif %}      
        {% endfor %} #}
	</article>

	<article>
		<h3>Formations liées</h3>
		[récupération des formations qui ont les mêmes hesamettes (les mêmes trois premières?)]
	</article>

	<article>
		<h3>Laboratoires liées</h3>
		[récupération des laboratoires avec les même hesamettes]
	</article>


{% endblock %}