{% extends 'base.html.twig' %}

{% block body %}

    <section class="container">
        <div class="first">
            <div class="card formation">
              	<div class="card-content">

              		<h3>{{formation.nom}}</h3> 

              		{% for etablissement in formation.etablissement %}
						<span class="etablissement">{{etablissement.nom}}</span><br/>
					{% endfor %}
					
					<p>{{formation.annee}}, {{formation.niveau}}, effectif : {{formation.effectif}}</p>
					<p><a href="{{formation.url}}">{{formation.url}}</a></p> 

					<h4>Disciplines</h4>
	                <ul class="list-thematique" >
						{% for hesamette in hesamettes %}
							<li>{{hesamette.nom}}({{hesamette.nb}})</li>
						{% endfor %}
	                </ul>


					
					</div>
	              <div class="card-action">
	              <a href="{{formation.url}}"><i class="material-icons">input</i>{{formation.url}}</a>
	              <div style="float:right;">

					

				</div> <!--end card content -->

        	</div>
       	</div>
    </section>

	


{% endblock %}