{% extends 'base.html.twig' %}

{% block body %}

<section class="container">
      <img src="/img/labo.svg" alt="labo">
      <h4>Laboratoire</h4>
      <h1>{{labo.nom}}</h1>
      <div>
        <h4>+ d'infos</h4>
        <ul>
          {% if labo.type %}
          <li>Type : {{labo.type}}</li>
          {% endif %}
          {% if labo.sigle %}
          <li>Sigle : {{labo.sigle}}</li>
          {% endif %}          
          {% if labo.objetId %}
          <li>Code : {{labo.objetId}}</li>
          {% endif %}
          {% if labo.uai %}
          <li>Code UAI : {{labo.uai}}</li>
          {% endif %}
          {% if labo.anneeCollecte %}
          <li>Année de collecte : {{labo.anneeCollecte}}</li>
          {% endif %}
        </ul>
      </div>
      
      {% for etablissement in labo.etablissement %}
		    <h2>{{etablissement.nom}}</h2>
		  {% endfor %}

      {% if labo.description|length > 0 %}
          <p>{{ labo.description }}</p>
      {% endif %}
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('editeur_laboratoire_edit', { id : labo.id }) }}"><i class="material-icons">mode_edit</i>Modifier les données</a>
      {% endif %}

      <!-- DISCIPLINE -->
      {% if hesamettes %}
      <h5>Disciplines</h5>
	    <ul class="list-thematique" >
				{% for hesamette in hesamettes %}
					<li>{{hesamette.nom}}({{hesamette.nb}})</li>
				{% endfor %}
	    </ul>
      {% endif %}
      <!-- END DISCIPLINE -->

      {% if labo.anneeCollecte > 2016 %}
          {% if labo.cnu %}
          <h5>Disciplines CNU</h5>
          {% for discipline in labo.cnu %}
              <li><a href="#">{{discipline.nom}}</a></li>
          {% endfor %}
          {% endif %}

          {% if labo.hceres %}
          <h5>Disciplines HCERES</h5>
          {% for discipline in labo.hceres %}
              <li><a href="#">{{discipline.nom}}</a></li>
          {% endfor %}
          {% endif %}

          {% if labo.sise %}
          <h5>Disciplines SISE</h5>
          {% for discipline in labo.sise %}
              <li><a href="#">{{discipline.nom}}</a></li>
          {% endfor %}
          {% endif %}
      {% endif %}
					
      {% if labo.tag | length > 0 %}
      <h5>Mots clés</h5>
      <ul class="list-thematique" >
          {% for tag in labo.tag %}
              <li>{{tag.nom}}</li>
          {% endfor %}
      </ul>
      {% endif %}

      {% if labo.lien %}
      <h5>Lien du laboratoire</h5>
      <a href="{{labo.lien}}" target="_blank">{{labo.lien}}</a>
      {% endif %}

      {% if labo.lien2 %}
      <h5>Autres sites web de la labo</h5>
      <a href="{{labo.lien2}}" target="_blank">{{labo.lien2}}</a>
      <a href="{{labo.lien3}}" target="_blank">{{labo.lien3}}</a>
      {% endif %}

      {% if labo.localisation %}
      <h5>Adresse</h5>
      {% for loca in labo.localisation %}
      {{loca.nom}}<br>
      {{loca.adresse}}<br>
      {{loca.ville}}<br>
      <img src="https://maps.googleapis.com/maps/api/staticmap?center={{loca.ville}} {{loca.code}}&zoom=14&size=834x200&maptype=roadmap" alt="Carte réalisée avec Google Static Maps API" />
      {% endfor %}     
      {% endif %}

      {% if labo.mailcontact %}
      <h5>Contact<h5>
      <p>{{labo.mailcontact}}</p>
      {% endif %}

</section>

    <section id="suggest">
        <div class="container">
            <div class="suggest row">
            <h4>Voir aussi...</h4>
                {% for labo in rebonds_labo %}
                    <div class="col m4 l4">
                        <div class="card laboratoire petit" >
                            <div class="card-content">
                                <span class="etablissement"><span>{{labo.type}}</span> - {{labo.code}}</span>
                                <h5><a href="{{ path('labo' ,{"id" : labo.id}) }}">{{labo.nom}}</a></h5>
                                {# <span> {{labo.etablissement}}</span> #}
                                <ul class="list-thematique" >
                                    {% for discipline in labo.discipline|slice(0,3)%}
                                        <li>{{discipline.nom}}{% if loop.last %}{% else %};{% endif %}</li>
                                    {% endfor%}
                                    {# les disciplines #}
                                </ul>
                            </div>
                            <div class="card-action">
                                <a href="{{labo.lien}}"><i class="material-icons">input</i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% for formation in rebonds_formation  %}
                    <div class="col m4 l4">
                        <div class="card formation petit" >
                            <div class="card-content">
                                <span class="etablissement"><span>{{formation.annee}}</span> - <span>{{ formation.niveau }}</span></span>
                                <h5><a href="{{ path('formation' , {"id" : formation.id}) }}">{{formation.nom}}</a></h5>
                                {# <span> {{labo.etablissement}}</span> #}
                                <ul class="list-thematique" >
                                    {% for discipline in formation.discipline|slice(0,3)%}
                                        <li>{{discipline.nom}}</li>
                                    {% endfor%}
                                    {# les disciplines #}
                                </ul>
                            </div>
                            <div class="card-action">
                                <a href="{{formation.url}}"><i class="material-icons">input</i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                </div>
            </div>
        </div>
    </section>

	


{% endblock %}