{% extends 'base.html.twig' %}


{% block body %}
<div style="background-image:url(/img/pantheon.jpg)">
    <section class="container">
        <div class="first">
            <div class="card laboratoire">
              <div class="card-content">
                <span class="item-labo">
                  Laboratoire
                </span>
                <span class="etablissement">
                	<span> - {{labo.type}} {{labo.code}} </span>
               	</span> 

                <h3>{{labo.nom}} {% if labo.sigle %} ({{labo.sigle|upper}}) {% endif %}</h3>


				{% for etablissement in labo.etablissement %}
					<span class="etablissement">{{etablissement.nom}}</span><br/>
				{% endfor %}
        <div class="row">
        <div class="col l9 ">
				      <h5>Thématique(s)</h5>
              <ul class="list-thematique" >
                    {% for hesamette in hesamettes %}
                    <li>{{hesamette.nom}} /</li> 
                    {% endfor %}
                </ul>

                <ul class="list-thematique" >
      {#          	{% for discipline in labo.discipline %}
                		<li><a href="#">{{discipline.nom}}</a> /</li>
                	{% endfor %}

                    #}
                </ul>
				
				      {% if labo.equipement | length > 0 %}
					     <h5>Equipements</h5>
                <ul>
                	{% for equipement in labo.equipement %}
	                	<li>{{equipement.nom}}</li>
               		 {% endfor %}
                </ul>
            	 {% endif %}
              
            	<h5>Mots clés</h5>
              <p>
            	{% for tag in labo.tag %}
            		{{tag.nom}} /
            	{% endfor %}
              </p>

              <h5>Axes</h5>
              {% for axe in axes %}
                <li>{{axe.nom}}</li>
              {% endfor %}

              </div>
              <h5>Localisation</h5>
              {% for loca in labo.localisation %}
          <img src="https://maps.googleapis.com/maps/api/staticmap?center={{loca.ville}} {{loca.code}}&zoom=14&size=200x200&maptype=roadmap" alt="Carte réalisée avec Google Static Maps API" />    {% endfor %}     
              </div>

              </div>
              <div class="card-action">
              <a href="{{labo.lien}}"><i class="material-icons">input</i>Lien vers le laboratoire</a>

              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('editeur_labo_edit', { id : labo.laboId }) }}"><i class="material-icons">mode_edit</i>Modifier les données</a> 
              {% endif %}
              <a href="mailto:{{labo.mailContact}}"><i class="material-icons">mail</i>{{labo.mailContact}}</a>

              
              <div style="float:right;">
              <span>Code UAI : <strong>{{labo.uai}}</strong><span>
              </div>
              </div>
            </div>
        </div>
    </section>
</div>
    <section id="suggest">
        <div class="container">
            <div class="suggest row">
            <h4>Voir aussi...</h4>

            {% for labo in labos %}
            	<div class="col m4 l4">
                    <div class="card laboratoire petit" >
                      <div class="card-content">
                      <span class="etablissement"><span>{{labo.type}}</span> - {{labo.code}}</span>
                         <h5>{{labo.nom}}</h5>
                         {# <span> {{labo.etablissement}}</span> #}
                          <ul class="list-thematique" >
                          	{% for discipline in labo.discipline|slice(0,3)%}
                          		<li>{{discipline.nom}}</li>
                          	{% endfor%}
                            {# les disciplines #}
                          </ul>
                      </div>
                      <div class="card-action">
                        <a href="{{labo.lien}}"><i class="material-icons">input</i></a>
                    </div>
                   </div>
                  </div>
         	{% endfor %}


                </div>
            </div>
        </div>
    </section>

{% endblock %}