{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset("css/accueil.css") }}">
{% endblock %}

{% block fos_user_content %}{% endblock %}

{% block body %}
<section class="recherche-home">
    <div class="wrapper">
        <div class="container">
            <div class="row rechercher-wrapper">
                <div class="col m12 titre">
                    <img src="img/hesam-logo.svg" class="responsive-img" id="mainLogo" alt="Logo HESAM Université">
                    <h1>Cartographie des formations et de la recherche</h1>
                </div>
                <div class="col offset-m1 m12" id="recherche">
                    <form action="rechercher" method="get">
                        <input type="text" name="search" placeholder="Exemples : Sociologie, urbanisme, industrie, microscope ">
                        <button class="btn btn-hesam red-hesam btn-floating waves-light" type="submit"><i class="material-icons">search</i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="chiffres-home container">
    <ul class="row">
        <li class="col offset-s1 s3"><span>1403</span>Laboratoires</li>
        <li class="col s3"><span>92</span>Formations</li>
        <li class="col s3"><span>14</span>Ecoles doctorales</li>
    </ul>
</section>
<section class="presentation-home">
    <div class="container row">
        <p class="col s12">
            heSam Université rassemble 1403 formations, du bac+1 au doctorat, en formation initiale ou continue, 92 laboratoires pluridisciplinaires en sciences humaines et sociales, en sciences de l'environnement et en sciences et techniques de l'ingénieur et 14 écoles doctorales.
        </p>
        <div class="col anr s8">
            <p>
                Le projet a bénéficié du soutien de l'AMI 2016 sur la transformation pédagogique et numérique.
            </p>
        </div>
        <div class="col s4">
            <img src="img/MESRIlogo_vert.jpg" class="responsive-img" width="100px" alt="Logo ANR">
        </div>
    </div>
</section>
<section class="rubrique-home">
    <div class="container">
        <div class="row">
            <p class="col s12">Il est possible de faire la recherche parmi les quinze thématiques Hesam et les disciplines qui leurs sont associées :</p>
            <ul class="col s6">
                <li><a href="#">Agronomie, écologie, environnement</a></li>
                <li><a href="#">Architecture, milieu, urbanisme</a></li>
                <li><a href="#">Arts et arts appliqués, culture et patrimoine</a></li>
                <li><a href="#">Biologie, santé</a></li>
                <li><a href="#">Chimie</a></li>
                <li><a href="#">Esprit humain, langage, éducation</a></li>
                <li><a href="#">Information-communication, sciences sociales, juridiques et politiques</a></li>
            </ul>
            <ul class="col s6">
                <li><a href="#">Interdisciplinaire</a></li>
                <li><a href="#">Marchés et organisations</a></li>
                <li><a href="#">Mathématiques</a></li>
                <li><a href="#">Mondes anciens et contemporains</a></li>
                <li><a href="#">Physique</a></li>
                <li><a href="#">Sciences de la terre et de l'univers</a></li>
                <li><a href="#">Sciences et technologies de l'information et de la communication</a></li>
                <li><a href="#">Sciences pour l'ingénieur, industrie, design</a></li>
            </ul>
        </div>
    </div>
</section>
<section class='etablissements-home container'>
    <div class="row">
        <h2>Établissements</h2>
        <ul>
            <li class='col s3'><a href="#"><img class="responsive-img" src="img/logos/cnam-logo.jpg" alt="Logo Cnam"/></a></li>
            <li class='col s3'><a href="#"><img class="responsive-img" src="img/logos/cnrs.jpg" alt="Logo Cnam"/></a></li>
            <li class='col s3'><a href="#"><img class="responsive-img" src="img/logos/ENSAM.jpg" alt="Logo Cnam"/></a></li>
            <li class='col s3'><a href="#"><img class="responsive-img" src="img/logos/INP-image.jpg" alt="Logo Cnam"/></a></li>
            <li class='col s3'><a href="#"><img class="responsive-img" src="img/logos/cnam-logo.jpg" alt="Logo Cnam"/></a></li>
            <li class='col s3'><a href="#"><img class="responsive-img" src="img/logos/cnam-logo.jpg" alt="Logo Cnam"/></a></li>
            <li class='col s3'><a href="#"><img class="responsive-img" src="img/logos/cnam-logo.jpg" alt="Logo Cnam"/></a></li>
            <li class='col s3'><a href="#"><img class="responsive-img" src="img/logos/cnam-logo.jpg" alt="Logo Cnam"/></a></li>
        </ul>
    </div>
</section>
<!-- 
      <div class="container row">
        <div class="col offset-l1 offset-m1 offset-s1 s10 m10 l10" id="help-box">

          <div class="z-depth-1 blue-grey lighten-5">

            <div class="help-home" id="general">
              <p>La cartographie des compétences permet d'obtenir des informations sur les :</p>

              <li><strong> formations</strong></li>
              <li><strong> laboratoires</strong></li>
              <li><strong> écoles doctorales* (bientôt)</strong></li>
              <li><strong> équipements</strong></li>

              <div class="plus" id="chercher-general">
                <button class="btn waves-effect waves-light btn-hesam" type="button">en savoir d'avantage sur les domaines de recherche
                  <i class="material-icons right">info</i>
                </button>
              </div>
            </div>

            <div class="help-home" id="domaines">
              <p>Il est possible de faire la recherche parmi les quinze thématiques Hesam et les disciplines qui leurs sont associées : </p>
              {% for hesamette in hesamettes %}
                <li><a href="/rechercher?search={{ hesamette |escape('html') }}" class="black-text text-lighten-4">{{ hesamette }}</a></li>
              {% endfor %}
              <div class="plus" id="chercher-domaines"><button class="btn waves-effect waves-light btn-hesam" type="button">mieux comprendre notre mode de recherche
                  <i class="material-icons right">info</i>
                </button>
              </div>
            </div>

            <div class="help-home" id="methode">
              <p>Pour l'instant, les recherches sont limitées à un mot clé, elles s'effectuent sur le titre des laboratoires et formations, le nom des équipements, le nom des disciplines et bientôt les acronymes et codes des laboratoires.</p>
              <div  class="plus" id="chercher-methode">
                <button class="btn waves-effect waves-light btn-hesam" type="button">retourner au rappel de nos contenus
                  <i class="material-icons right">info</i>
                </button>
              </div>
            </div>

          </div>

        </div>
      </div>
 -->

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>

    function accueil(){
      $("body").hide();
      $("body").fadeIn(1500);

      $("#mainLogo").hide();
      $("#mainLogo").fadeIn(1000);

      $("#soustitre").hide();
      $("#soustitre").delay(300).fadeIn(1000);

      $("#recherche").hide();
      $("#recherche").delay(600).fadeIn(1000);

      $("#help-box").hide();
      $("#help-box").delay(900).fadeIn(1000);

      $("footer").hide();
      $("footer").delay(1500).fadeIn(1000);
    }

  //  accueil();

    $("#chercher-general").click(
            function(){
              $("#general").hide();
              $("#domaines").fadeIn(1000);
            }
    );

    $("#chercher-domaines").click(
            function(){
              $("#domaines").hide();
              $("#methode").fadeIn(1000);
            }
    );

    $("#chercher-methode").click(
            function(){
              $("#methode").hide();
              $("#general").fadeIn(1000);
            }
    );
  </script>
{% endblock %}